


<app-menu-title></app-menu-title>

<div class="container_articles">

  <div class="articles_big-card">

    <app-big-card
    Id="1"
    pictureCover="https://rollingstone.uol.com.br/media/_versions/filmes-marvel-serios-repeticao-formula-os-vingadores-reproducao_widelg.jpg"
    cardTitle=" Filme Marvel"
    cardDescription="Venha conferir as novidades do novo filme!! "
    ></app-big-card>

  </div>

  <div class="articles_small-card">

    <app-small-card
    Id="2"
    pictureCover="https://64.media.tumblr.com/c318a5f8cbeecef38556e5a12afc7ce6/tumblr_inline_ptcdmiOlq71vcxzq9_540.jpg"
    cardTitle="Meditar ajuda a relaxar a mente"
    ></app-small-card>
    <app-small-card
    Id="3"
    pictureCover="https://media.istockphoto.com/id/1170073824/pt/foto/gamer-work-space-concept-top-view-a-gaming-gear-mouse-keyboard-joystick-headset-mobile.jpg?s=612x612&w=is&k=20&c=Rgw7Iq5py1rGdbvKHlNNkPSUq3nsgysxuCnEQGy1ed0="
    cardTitle="Jogos novos estao chegando para a nova geração de consoles."
    ></app-small-card>
    <app-small-card
    Id="4"
    pictureCover="https://i.em.com.br/z4cVh73ZSe_6NOTFEN2HnpTKlkA=/675x0/smart/imgsapp.em.com.br/app/noticia_127983242361/2022/07/25/1382460/fotos-com-fundo-azul-escuro-mostra-uma-bola-tipo-uma-lua-e-um-buraco-negro-menor_1_48496.jpg"
    cardTitle="Buraco negro adormecido fora da Via Láctea"
    ></app-small-card>


  </div>

</div>

