<div class="container_small-card">

  <div class="container_small-card_content">

    <div class="small-card_picture">
      <img src="https://placehold.co/600x400"
      alt=""
      height="130px"
      srcset="" />
    </div>

    <div class="small-card_title">
      <h5>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris viverra
        nec mi sollicitudin efficitur. Proin varius vulputate fringilla. Nunc
        gravida vel sem vel feugiat. Pellentesque habitant morbi tristique
        senectus et.
      </h5>
    </div>
  </div>

  <hr class="container-separator">

  </div>
