<div class="container_big-card">

  <div class="big-card_picture">
    <img
      src="https://arquivo.devmedia.com.br/noticias/documentacao/documentacao_angular-cli-como-rodar-testes-e-checar-o-codigo_38248.png"
      alt=""
      height="200px"

      srcset=""
    />
  </div>

  <div class="big-card_tittle">
    <h1>Nova Versao do Sistema</h1>
  </div>

  <div class="big-card_description">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lacus
      vel leo bibendum ornare sed vitae turpis. Sed tempus enim vitae mattis
      faucibus. Aliquam erat volutpat. Fusce at rutrum metus. Praesent congue
      congue massa sit amet rhoncus. Sed tempus gravida sem, sit amet imperdiet
      eros pellentesque a. Vestibulum ante ipsum primis in faucibus orci luctus
      et ultrices posuere cubilia curae.
    </p>
  </div>

</div>

